@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+Mono:wght@100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@import "./css/style.css";

/* Or for individual imports */
/* @import "./css/tokens/global/color.css";
@import "./css/tokens/global/border.css";
@import "./css/tokens/global/font.css";
@import "./css/tokens/global/dimension.css";
@import "./css/tokens/semantic/border.css";
@import "./css/tokens/semantic/color.css";
@import "./css/tokens/semantic/dimension.css";
@import "./css/tokens/semantic/font.css";

@import "./css/tokens/theme/neo.css";
@import "./css/tokens/theme/revo.css";
@import "./css/tokens/theme/uno.css";

@import "./css/tokens/theme/neo/light.css";
@import "./css/tokens/theme/neo/dark.css";
@import "./css/tokens/theme/revo/light.css";
@import "./css/tokens/theme/revo/dark.css";
@import "./css/tokens/theme/uno/light.css";
@import "./css/tokens/theme/uno/dark.css";

@import "./css/components/accordion.css";
@import "./css/components/avatar.css";
@import "./css/components/badge.css";
@import "./css/components/button.css";
@import "./css/components/checkbox.css";
@import "./css/components/clipboard.css";
@import "./css/components/collapsible.css";
@import "./css/components/dialog.css";
@import "./css/components/link.css";
@import "./css/components/listbox.css";
@import "./css/components/menu.css";
@import "./css/components/switch.css";
@import "./css/components/switcher.css";
@import "./css/components/tabs.css";
@import "./css/components/toggle-group.css";
@import "./css/components/tree-view.css"; */

body {
    min-height: 100vh;
    background: var(--color-layer);
  }

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-ui);
    padding: var(--padding-ui);
}

.logo {
    height: 2rem;
    color: var(--color-contrast-brand-1);
    transition: color 0.2s;
}

.logo:hover {
    color: var(--color-contrast-brand-2);
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 48rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--padding-ui)
}


.preview {
    gap: var(--gap-ui);
    display: flex;
    flex-wrap: wrap
}

.switcher.theme-switcher [data-part="item"][data-state="on"] {
    background-color: var(--color-accent-brand);
    color: var(--color-accent-contrast);
}

.switcher.theme-switcher [data-part="item"][data-state="on"]:hover {
    background-color: var(--color-accent-brand-1);
}

.switcher.theme-switcher [data-part="item"][data-state="on"]:active {
    background-color: var(--color-accent-brand-2);
}
